/server-data
/server-data-empty
/server-data-oldVersion
/server-data-old/
/server-data-old2
.DS_Store
/webapp/js
/distribution
npm-debug.log
webapp/testCSS.css
server/isolate-0x102004600-v8.log
node_modules
