
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ All pages ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* NOTE: the mnemonic for margin or padding order is TROUBLE: Top Right Bottom Left */
/* html, body, and pleaseWaitOverlay are in survey.css */

/* the NarraFirma color palette 
Headers b0d4d4
Working areas c5d2eb (parenthetical d7dce4)
Selected areas ffe1aa
Disabled/readonly area text color 979696
Action areas (buttons) ffbb84
Special warning areas f88a57
*/

#pageDiv {
   padding-left: 0.5em;
   padding-top: 3em;
}

a:link {
	color: #017a7a;
}

a:visited {
	color: #017a7a; /* there is not much reason to indicate visited status within the app */
}

a:hover {
	color: #023d3d;
}

a:active {
	color: #023d3d;
}

textarea, input, select { /* override because expanded in survey */
    margin-top: 0;
    border: 1px solid black;
    margin-left: 0.5em;
}

select[multiple] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
}

select[multiple] { /* only used in story browser */
    width: 60%;
    height: 140px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Login page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.narrafirma-login-welcome-and-intro {
    background-color: #b0d4d4;
    border-bottom: 4px solid #ffbb84; 
    padding: 0.2em;
    margin-bottom: 1em;
}

h2.narrafirma-login-welcome {
    font-size: 1.6em;
    font-weight: bold;
    margin-left: 0.2em;
}    

h2.narrafirma-login-hello {
    padding: 0.5em;
    font-size: 1.2em;
    font-style: italic;
}

p.narrafirma-login-text {
    padding: 0.5em;
    font-size: 1.1em;
}

p.narrafirma-login-intro {
    padding: 0 0 0 0.7em;
    font-size: 1em;
}

p.narrafirma-login-action {
    font-size: 1.1em;
    margin: 1em 0 0 1.5em;
}

input[type="submit"].narrafirma-login-button {
    background-color: #ffbb84;
    box-shadow: 1px 1px 1px gray;
    margin: 0.4em;
    padding: 0.4em;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1em;
}

input[type="text"].narrafirma-login-input {
    padding: 0.2em;
}

input[type="password"].narrafirma-login-input {
    padding: 0.2em;
}

input[type="submit"].narrafirma-login-button:hover {
    background-color: #ffa25f;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Navigation bar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#navigationDiv {
    background-color: #b0d4d4;
    border-bottom: 4px solid #ffbb84; 
	padding: 0.75em 0.2em 0.2em 0em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 1.8em;
}

#narrafirma-name {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 0 0.5em; 
    padding: 0.25em;
    color: black;
}

.narrafirma-serverstatus-ok {
	border: 2px solid #b0d4d4; /* so the name doesn't shift when the border appears */
}

.narrafirma-serverstatus-waiting {
	border: 2px solid #b0d4d4; /* so the name doesn't shift when the border appears */
}

.narrafirma-serverstatus-waiting-last-error {
	border: 2px solid red;
}

.narrafirma-serverstatus-failure {
	border: 2px solid red;
}

#narrafirma-project-name {
    font-weight: bold;
    font-size: 1.1em;
    margin: 0 2em 0 0.5em;
}

#narrafirma-breadcrumbs {
    font-size: 0.9em;
}

#narrafirma-next-page, #narrafirma-previous-page {
    font-size: 0.9em;
    padding: 0.1em 0.5em 0.1em 0.5em;
    margin: -0.2em 1em 0 0;
    float: right;
    background-color: #ffbb84;
    border: 1px solid #ffa25f;
    box-shadow: 1px 1px 1px gray;
    text-decoration: none;
}

#narrafirma-next-page.narrafirma-link-disabled,  #narrafirma-previous-page.narrafirma-link-disabled {
    background-color: #ccc;
    border: 1px solid #979696;
    box-shadow: 1px 1px 1px gray;
    text-decoration: none;
}

#narrafirma-help-link {
    font-size: 0.9em;
    padding-right: 1em;
    float: right;
}

#narrafirma-logout-link, #narrafirma-login-link {
    font-size: 0.9em;
    float: right;
    margin-right: 0.75em;
}

#narrafirma-read-only {
    font-size: 0.9em;
    font-weight: bold;
    padding: 0 0.75em 0 0.5em;
    float: right;
    color: red;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Dashboard (home page) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.narrafirma-pni-phases-image {
    float: left;
	margin: 0.2em 1.2em 0.5em 0.2em;
}

.narrafirma-dashboardStatusButton {
    font-size: 1em;
    min-width: 10em;
    height: 2em;
    border-radius: 12px; 
    border: none;
    box-shadow: 1px 1px 1px gray;
    margin-bottom: 0.5em;
    padding: 0.4em;
}

.narrafirma-dashboardSectionStatusDisplayCompletion {
    margin-left: 1.0em;
}

.narrafirma-dashboard-story-collection-status table {
    border-collapse: collapse;
    margin-right: 1em;
}

.narrafirma-dashboard-story-collection-status th {
    font-weight: normal;
    background-color: #b0d4d4;
	border: 1px solid black;
	padding: 0.2em;
}

.narrafirma-dashboard-story-collection-status td {
    border: 1px solid black;
    background-color: #eaf0f8;
    padding: 0.2em;
    max-width: 16em;
}
    
.narrafirma-dashboard-header {
	display: block;
	font-weight: 700;
	margin-bottom: 0.7em;
}

.narrafirma-dashboard-page-link {
	display: block;
	margin-left: 1em;
}

.narrafirma-questionAnswer { /* this is now used to display the reminder on the section page */
    background-color: #ffe1aa;
    border: 2px solid #ffbb84;
    margin: 0.5em 0 0 1em;
    padding: 0.5em;
}

.narrafirma-questionAnswer:empty { /* if no reminder entered, do not show */
	padding: 0px;
	margin: 0px;
	border: none;
	background-color: #fff;
}

.narrafirma-collision-message {
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
    background-color: #ffe1aa;
}

.narrafirma-collision-header {
    margin-bottom: 0.5em;
}

.narrafirma-collision-button {
    display: inline-block;
    margin: 1em 0.5em 0.5em 0.5em;
}

.narrafirma-collision-buttons {
    display: block;
    text-align: center;
}

.narrafirma-collision-explanation {
    font-weight: normal;
    margin-top: 0.5em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Buttons bottom of page (and elsewhere) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.narrafirma-page-change-button {
    font-size: 1em;
    min-width: 10em;
    border: none;
    box-shadow: 1px 1px 1px gray;
    margin-bottom: 0.5em;
    padding: 0.4em;
}

button {
    background-color: #ffbb84;
    box-shadow: 1px 1px 1px gray;
    margin: 0.4em;
    padding: 0.4em;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #ffa25f;
}

button:disabled {
    background-color: #dddddd;
    color: #525050; 
}

.button-text {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.wwsButtonImage {
	background-image: url(../images/WWS_BookCover_front_tiny.png);
    background-repeat: no-repeat;
	width: 43px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
}

.homeButtonImage {
    background-image: url(../images/ionicicons/home.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.leftButtonImage {
    background-image: url(../images/ionicicons/arrow-left-a.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.rightButtonImage {
    background-image: url(../images/ionicicons/arrow-right-a.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block; 
    vertical-align: middle;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Pages with entry fields ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.narrafirma-page-name {
    font-weight: 700;
    font-size: 1.3em;
    margin: 0.5em 0 0 0.35em;
}
 
.questionExternal {
	background-color: #c5d2eb;
	margin-bottom: 0.2em;
    border-radius: 3px;
    padding: 0.2em;
    margin: 0.2em;
}

.questionExternal-annotation {
	background-color: #d7dce4;
	margin-bottom: 0.2em;
    border-radius: 3px;
    padding: 0.2em;
    margin: 0.2em;
}

.questionExternal.narrafirma-question-type-header {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	background-color: #b0d4d4;  
    border-radius: 3px; 
	margin-bottom: 12px;
	margin-top: 10px;
}

.narrafirma-griditempanel-editing .narrafirma-question-type-header.questionExternal { 
	background-color: #b0d4d4;
}
 
.narrafirma-griditempanel-viewing .narrafirma-question-type-header.questionExternal {
    background-color: white; 
    color: #979696;
}
 
.questionExternal.narrafirma-question-type-grid { /* no background for grid */
    background-color: white;
}

.questionExternal.narrafirma-question-type-text.narrafirma-ignore-story {
	background-color: #d7dce4;
}

.questionInternal.narrafirma-question-type-slider {
    text-align: center;
    min-width: 400px;
}

.questionExternal.narrafirma-question-type-label {
    background-color: white;
    margin-bottom: 4px;
    border-radius: 3px;
}

.questionExternal.narrafirma-question-type-filterNotice {
    background-color: #d7dce4;
    margin-bottom: 4px;
    padding: 4px 4px 4px 8px;
    border-radius: 2px;
    font-style: italic;
}

.htmlWidget, .narrafirma-image {
    margin-bottom: 4px;
    border-radius: 12px;
    padding: 8px;
    margin: 8px; 
}

.questionPrompt {
    padding: 0.4em;
    display: block;
}

.questionInternal {
    padding: 0.4em;
    margin-left: 0.6em;
}

.narrafirma-textbox {
    width: 98%;
    border: 1px solid black;
}

textarea.narrafirma-textbox {
    min-height: 5em;
}

.questionExternal.narrafirma-question-type-questionAnswer {
    background-color: white;
}

.narrafirma-survey-link {
    display: block;
    padding: 1em 0 0 1em;
}

form {
   padding-left: 0.7em;
}

.narrafirma-reminder {
    background-color: #ffe1aa;
	border-radius: 3px;
}

.functionResult { /* apparently used on "stop story collection" page */
    margin: 0.4em 0 1em 0.6em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Adjustments for particular pages ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.narrafirma-page_reviewIncomingStories .questionInternal {
	padding-top: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Grid item panel (spreadsheet like table) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.narrafirma-griditem-form {
	width: 800px;
	height: 800px;
	overflow: auto;
}

.narrafirma-griditempanel-hidden {
    display: none;
}

.narrafirma-griditempanel-divwithbutton-editing {
    background-color: #ffe9c4;
    border: 1px solid black;
    border-radius: 8px;
    margin: 1em;
}

.narrafirma-griditempanel-divwithbutton-viewing {
    background-color: white;
    color: #6d6c6c;
	margin: 1em;
	border: 1px solid #6d6c6c;
	border-radius: 8px;
}

button.narrafirma-griditempanel-close-button {
    display: block;
    width: 10em;
    margin: 0.6em 1em 0 auto;
}

.narrafirma-griditempanel-editing {
    margin: 0.6em;
}

.narrafirma-griditempanel-editing .questionExternal {
	background-color: #c5d2eb;
}

.narrafirma-griditempanel-viewing {
	margin: 0.6em;
}

.narrafirma-griditempanel-viewing .questionExternal {
    background-color: white;
    color: #6d6c6c;
}

/* hides "copy from template" button when viewing grid item */
.narrafirma-griditempanel-viewing .narrafirma-template-button {
	display: none;
}

.narrafirma-special-warning {
	display: block;
    background-color: #669ef3;
    color: black;
	padding: 1em;
    margin-left: 2em;
}

.narrafirma-centered-label {
    text-align: center;
    display: block;
    margin-top: 0.5em;
    font-style: italic;
}

.narrafirma-griditempanel-viewing .narrafirma-special-warning {
    background-color: white;
    color: #6d6c6c;
	padding: 1em;
    margin-left: 2em;
}

.narrafirma-grid {
    margin: 0.4em;
}

table tr:hover button.fader {
    opacity: 1;
}

table button.fader {
    opacity: 1;
    overflow: auto;
}

table.scrolling {
  margin: 0.6em 1em 0em 1em;
  display: block;
  max-height: 400px;
  overflow-y: scroll;
  border-collapse: collapse;
  border: 1px solid #c5d2eb;
}

table.scrolling th {
	background-color: #b0d4d4;
	padding: 0.4em;
	border: 1px solid black;
}

table.scrolling td {
    padding: 6px;
    border: 1px solid black;
    height: 1em;
}

table.scrolling tr {
	border: 1px solid black;
}

table.scrolling tr:hover {
    outline: 4px solid;
}

table.scrolling-small {
    display: block;
    width: max-content;
    max-height: 300px;
    overflow-y: scroll;
    border-collapse: collapse;
  }
  
.narrafirma-grid-row-unselected-odd {
	background-color: #eff4ff;
}

.narrafirma-grid-row-unselected-even {
	background-color: white;
}

.narrafirma-grid-row-selected-odd {
	background-color: #ffe9c4;
}

.narrafirma-grid-row-selected-even {
	background-color: #ffe9c4;
}

.narrafirma-button-panel {
    padding: 0.6em;
}

.narrafirma-button-panel button {
    font-size: 1em;
    padding: 0.4em;
    height: 2em;
    border: none;
    box-shadow: 1px 1px 1px gray;
    margin-bottom: 0.5em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Stories list ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.narrafirma-stories-list table {
    margin: 10px;
    display: block;
    max-height: 400px;
    overflow-y: scroll;
    border-collapse: collapse;
}
  
.narrafirma-stories-list th {
    background-color: #b0d4d4;
    padding: 10px;
    border: 1px solid black;
}
  
.narrafirma-stories-list td {
    padding: 6px;
    border: 1px solid black;
    height: 1em;
}
  
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Story browser ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

table.filterTable {
    width: 100%;
    margin-left: 1.4em;
}

table.filterTable td {
    width: 50%;
}

.narrafirma-story-browser-filtered-stories-count {
	margin: 0.5em 0 0 1.4em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ graph browser ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.graphBrowserSelect {
    width: 40%;
    max-width: 40%
}

.narrafirma-graphbrowser-heading {
	margin: 0.4em 0 0.4em 0;
}

.singleChartStyleWithoutChildren {
    display: inline-block;
    vertical-align: top;
}

.singleChartStyleWithChildren {
    display: block;
}

.smallChartStyle {
    display: inline-block;
    vertical-align: top;
}

.mediumChartStyle {
    display: inline-block;
    vertical-align: top;
}

.chartEnclosure {
    min-height: 200px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Story card display ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.storyCard table {
	margin: 0.5em 0 0.5em 0;
}

.storyCard td {
	padding: 0.25em 1em 0 0;
}

.storyCard hr {
	color: gray;
}

.narrafirma-story-card-story-title {
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0 0 0;
}

.narrafirma-story-card-story-text-in-story-browser {
	border: 1px solid black;
	border-radius: 12px; 
	padding: 10px;
	margin: 10px;
}

.narrafirma-story-card-story-text-in-printed-story-cards {
	margin: 1em 2em 1em 2em;
}

.narrafirma-story-card-question-line-with-selected-item {
    padding-top: 0.25em;
}

.narrafirma-story-card-question-line-without-selected-item {
    padding-top: 0.75em;
}

.narrafirma-story-card-question-line-with-slider {
    padding-top: 0.75em;
}

.narrafirma-story-card-eliciting-question {
    font-size: 1em;
    padding-top: 0.75em;
}

.narrafirma-story-card-num-stories-question {
    font-size: 1em;
}

.narrafirma-story-card-sliders-table {
    padding-left: 0.5em;
}

.narrafirma-story-card-one-slider-table {
    font-size: 1em;
}

.narrafirma-story-card-question {
	margin: 0 0 0.25em 0;
}

.narrafirma-story-card-field-name {
    font-size: 1em;
}

.narrafirma-story-card-eliciting-question-name {
    font-size: 1em;
}

.narrafirma-story-card-select-selected, .narrafirma-story-card-checkboxes-selected, .narrafirma-story-card-radiobuttons-selected {
    font-size: 1.5em;
    font-weight: bold; 
}

.narrafirma-story-card-select-unselected, .narrafirma-story-card-checkboxes-unselected, .narrafirma-story-card-radiobuttons-unselected {
    font-size: 0.75em;
}

.narrafirma-story-card-slider-name {
    font-size: 1em;
}

.narrafirma-story-card-slider-label-left {
    font-size: 0.85em;
    text-align: right;
}

.narrafirma-story-card-slider-label-right {
    font-size: 0.85em;
    text-align: left;
}

.narrafirma-story-card-slider-contents {
    padding: 1em;
}

.narrafirma-story-card-slider-button {
    font-size: 1em;
}

.narrafirma-story-card-slider-bars-before {
    font-size: 1em;
}

.narrafirma-story-card-slider-bars-after {
    font-size: 1em;
}

.narrafirma-story-card-slider-bars-no-answer {
    font-size: 1em;
}

.narrafirma-story-card-annotation {
    font-size: 1em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ story card printing ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.storyCardForPrinting {
    page-break-after: always;
}

.storyCardFilterWarning {
    border-bottom: 1px solid black;
    font-style: italic;
}

@media print { 
   .storyCardForPrinting hr {
       display: none;
   }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Recommendations table ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.recommendationsTable {
    border-collapse: collapse;
    max-height: 600px;
}

.narrafirma-recommendations-table .questionPrompt{
    padding-left: 0;
}
 
.recommendationsTable th, .recommendationsTable td {
	border: 1px solid black;
	text-align: left;
	padding: 0.2em 0.2em 0.2em 0.3em;
}

.narrafirma-dialog-launching-button {
    margin-bottom: 0.5em;
    padding: 0.4em;
}

.wwsRecommendationsTable-valueCell {
	font-weight: normal;
}

.wwsRecommendationsTable-labelCell {
  font-weight: normal;
}

.recommendationHigh {
    background-color: white;
}

.recommendationMedium {
    background-color: lightgray;
}

.recommendationLow {
    background-color: gray;
}

.recommendationNo {
    background-color: black;
    color: white;
}

.interventions .recommendationLow {
    background-color: #d3d2d2;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Explore patterns page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.patterns-grid-header {
    margin-left: 1.4em;
    margin-top: 1em;
}

#gridHeaderProgressMessage {
    margin-left: 0.5em; 
    color: #f88a57;
    font-weight: bold;
}

.pleaseWaitStatisticsOverlay {
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	width: 300px;
	height: 70px;
	margin: 0.5em 0 0 00;
	padding: 0.5em 3em 0.5em 0.5em;
    border: 2px solid #b0d4d4;
    background-color: #f3fdfd;
    border-radius: 6px;
    background-image: url('../images/dojo-Standby-loading.gif');
    background-repeat: no-repeat;
    background-position: 98% 80%;
    z-index: 1001;
}

.narrafirma-pattern-browser-selected-stories-header {
    margin-left: 1.4em;
    margin-top: 0.4em;
}

.narrafirma-choose-pattern {
    margin: 1em auto 2em auto;
    text-align: center;
}

.narrafirma-tabs-header {
    font-size: 1em;
    float: right;
    margin-right: 1.2em;
}

.narrafirma-tab-button-selected { 
    cursor: pointer;
    font-weight: bold;
    background-color: #b0d4d4;
    border-radius: 4px;
    border: 1px solid gray;
  }

.narrafirma-tab-button-selected:hover {
    background-color: #cfebeb;
}

.narrafirma-tab-button {
    cursor: pointer; 
    background-color: #c5d5f7;
    border-radius: 4px;
    border: 1px solid gray;
}

.narrafirma-tab-button:hover {
    background-color: #dfe7fa;
}

.narrafirma-questions-chooser-table, .narrafirma-graph-types-chooser-table {
    width: 95%;
    margin-left: 0.5em;
    margin-top: 0.5em;
    border-collapse: collapse;
}

.narrafirma-questions-chooser-table-td, .narrafirma-graph-types-chooser-table-td {
    vertical-align: top;
    border: 1px dashed gray;
    padding: 8px;
}

.narrafirma-choose-catalysis-report {
    text-align: center;
    margin: 2em auto 2em auto;
}

.narrafirma-choose-questions-to-include {
    margin: 0.5em 0 0.5em 0.5em;
}

.narrafirma-choose-graph-types-to-include {
    margin: 0.5em 0 0.5em 0.5em;
}

.narrafirma-mark-pattern-button {
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.narrafirma-mark-pattern-text {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 0.75em 0.5em 0.75em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Catalysis report ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.narrafirma-statistics-panel-header {
	margin: 0.5em 0 0.5em 0;
	font-weight: bold;
}

.narrafirma-statistics-panel {
    background-color: inherit;
    font-size: 0.9em;
    font-weight: normal;
} 

h6.narrafirma-statistics-panel-small {
    font-weight: normal;
    display: block;
}

.statistics-name, .statistics-value, .narrafirma-mann-whitney-title {
    font-weight: normal;
}

.narrafirma-statistics-panel-small {
    background-color: inherit;
    font-size: 0.9em;
    width: max-content;
    margin: auto;
}

table.narrafirma-mw-all-results {
    margin: 0.5em;
    font-weight: normal;
    border-collapse: collapse;
    display: block;
    max-height: 300px;
    overflow-y: scroll;
    max-width: 800px;
    overflow-x: scroll;
}

td.narrafirma-mw-nested-title, td.narrafirma-mw-nested-stats {
    font-weight: normal;
    border: 1px solid black;
    padding: 0.25em;
}

.narrafirma-catalysis-report-title {
	font-size: 2.5em;
	font-weight: 700;
    padding: 0.5em;
    background: #b0d4d4;
    margin: 0;
}

.narrafirma-catalysis-report-project-name-and-date {
    padding: 0.5em;
    font-size: 0.8em;
    background: #d6ebeb;
}

.narrafirma-catalysis-report-filter-warning {
    padding: 0.5em;
    font-size: 0.8em;
    font-weight: 700;
    background: #c5d2eb;
}

.narrafirma-catalysis-report-intro-note {
	margin: 1em 0 1em 0;
}

.narrafirma-catalysis-report-about {
    padding: 0.5em;
    margin: 0.5em 0 0.5em 0;
    background: #eeeeee;
    border: 1px solid #d3d2d2;
}

.narrafirma-catalysis-report-about:empty { /* don't show box if nothing there */
    display: none;
}

.narrafirma-catalysis-report-conclusion {
    font-size: 1em;
}

.narrafirma-catalysis-report-toc-link-header, .narrafirma-catalysis-report-perspective-link-header, .narrafirma-catalysis-report-observation-link-header {
	margin-bottom: 0.5em;
}

.narrafirma-catalysis-report-toc-link, .narrafirma-catalysis-report-perspective-link, narrafirma-catalysis-report-observation-link {
	margin: 0 0 0 1em;
}

.narrafirma-catalysis-report-perspective {
	font-size: 2em;
	font-weight: 700;
    padding: 0.5em;
    background: #b0d4d4;
    margin: 0.5em 0 0 0;
}

.narrafirma-catalysis-report-perspective-label {
    font-size: 1em;
}

.narrafirma-catalysis-report-perspective-notes {
    padding: 0.5em;
    background: #d6ebeb;
    margin-bottom: 0.5em;
}

.narrafirma-catalysis-report-theme-link-header {
	margin: 0.5em;
}

.narrafirma-catalysis-report-theme-link {
	margin: 0 0 0 1em;
}

.narrafirma-catalysis-report-theme {
	font-size: 2em;
	font-weight: 700;
    padding: 0.5em;
    background: #b0d4d4;
    margin: 0.5em 0 0 0;
}

.narrafirma-catalysis-report-theme-label {
    font-size: 1em;
}

.narrafirma-catalysis-report-theme-notes {
    padding: 0.5em;
    background: #d6ebeb;
    margin-bottom: 0.5em;
}

.narrafirma-catalysis-report-interp-link-header {
	margin-bottom: 0.5em;
}

.narrafirma-catalysis-report-interpretation {
    padding: 0.5em;
	font-size: 1.5em;
	font-weight: 700;
    background: #fcd997;
    margin: 0;
}

.narrafirma-catalysis-report-interpretation-label {
    font-size: 1em;
}

.narrafirma-catalysis-report-interpretation-notes {
    font-size: 1em;
	padding: 0.5em;
    background: #ffeed0;
}

.narrafirma-catalysis-report-interpretation-idea {
    font-size: 1em;
	padding: 0.5em;
    background: #eafff7;
}

.narrafirma-catalysis-report-interpretation-idea-label {
    font-size: 1em;
}

.narrafirma-catalysis-report-interpretation-questions {
    padding: 0.5em;
    background: #fff7ea;
}

.narrafirma-catalysis-report-interpretation-questions-label {
    font-size: 1em;
}

.narrafirma-catalysis-report-observation {
	font-size: 1.0em;
    font-weight: 700;
    padding: 0.5em;
    background: #c5d2eb;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.narrafirma-catalysis-report-graph {
    font-size: 1em;
}

.narrafirma-catalysis-report-observation-label {
    font-size: 1em;
}

.narrafirma-catalysis-report-observation-strength {
    font-size: 0.8em;
    color: #979696;
    margin-left: 2em;
}

.narrafirma-catalysis-report-interpretation-links-table {
    border: 1px solid #b0d4d4;
    border-collapse: collapse;
}

.narrafirma-catalysis-report-interpretation-links-table-td {
    border: 1px solid #b0d4d4;
    padding: 0.2em 1em 0.2em 0.5em;
}

.narrafirma-catalysis-report-observation-description {
    padding: 0.5em;
    margin-bottom: 0.5em;
    background: #eef2fa;
}

.narrafirma-catalysis-report-observation-linking-question-by-theme {
    padding: 0.5em;
    font-style: italic;
    background: #eef2fa;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.narrafirma-catalysis-report-observation-linking-question-by-perspective {
    padding: 0.5em;
    font-style: italic;
    background: #fce1af;
}

.narrafirma-catalysis-report-list-table {
    width: 100%;
    height: 100%;
}

.narrafirma-catalysis-report-list-table td {
    height: 100%;
}

.narrafirma-catalysis-report-list-table-td-div {
    height: 100%;
    overflow: auto;
}

.narrafirma-catalysis-report-observations-only-page-break {
    page-break-after: always;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ d3 charting ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* common to all graphs */

.narrafirma-graph-thumbnail {
    margin: 0.25em 0 0 2em;
    height: 64px;
}

.narrafirma-graph-title {
    margin: 0.5em;
    font-size: 1.2em;
    font-variant-caps: small-caps;
}

.narrafirma-graph-results-pane {
    margin: 5px auto 0px 4em;
}

.chartBackground {
	width: 700px;
    fill: none;
}

.chartBodyBackground {
    fill: none;
}

.contingencyChart.chartBodyBackground {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}

.chart {
    background-color: white;
}

.x-axis {
	fill: none;
	stroke: gray;
	stroke-width: 1px;
	shape-rendering: crispEdges;	
}

.y-axis {
	fill: none;
	stroke:gray;
	stroke-width: 1px;
	shape-rendering: crispEdges;	
}

.x-axis text {
	fill: black;
	stroke-width: 0.5px;
	font-family: sans-serif;
	font-size: 0.9em;
}

.y-axis text {
	fill: black;
	stroke-width: 0.5px;
	font-family: sans-serif;
	font-size: 0.9em;
}

.x-axis-label {
	fill: black;
	stroke-width: 0.5px;
	font-family: sans-serif;
    font-size: 0.8em;
}

.y-axis-label {
	fill: black;
	stroke-width: 0.5px;
	font-family: sans-serif;
    font-size: 0.8em;
}

.brush .extent {
    fill-opacity: 0.3;
    fill: lightgray;
    stroke: darkslategray;
    stroke-width: 1px;
    shape-rendering: auto; /* was crispEdges; auto turns on anti-aliasing */
  }
  
/* bar chart */

.barChart-bar {
  fill: none;
}

.barChart-barLabel {
    fill: black;
    font-size: 0.9em;
}

.barChart-story.even {
    fill: #2e4a85;
}

.barChart-story.odd {
    fill: #7b8cb2;
}

.barChart-story.even.selected {
    fill: #e0a266;
}

.barChart-story.odd.selected {
    fill: #cc6400;
}
  
.barChart.x-axis-label {
    font-size: 1.2em;
}

.barChart.y-axis-label {
    font-size: 1em;
}

/* histogram */

.histogram-bar {
    fill: none;
}
  
.histogram-barLabel {
    fill: black;
    font-size: 0.9em;
}

.histogram-barLabelSmall {
    fill: black;
    font-size: 0.7em;    
}

.histogram-story.even {
    fill: #2e4a85;
}

.histogram-story.even.selected {
    fill: #e0a266;
}

.histogram-story.odd {
    fill: #7b8cb2;
}

.histogram-story.odd.selected {
    fill: #cc6400;
}

.histogram-mean {
	stroke: red;
	stroke-width: 2px;
}

.histogram-standard-deviation-low {
	stroke: #8db500;
	stroke-width: 1.5px;
}

.histogram-standard-deviation-high {
	stroke: #8db500;	
	stroke-width: 1.5px;
}

.histogram.x-axis-label.middle, .histogram.y-axis-label.middle {
    font-size: 1.1em;
}

.histogram.x-axis-label.small.middle {
    font-size: 0.9em;
}

.histogram.x-axis-label.start, .histogram.x-axis-label.end {
    font-size: 0.9em;
}

/* contingency chart */

.contingencyChart-circle-observed {
    stroke-width: 1px;
    stroke: #2e4a85;
    fill: #d5dae6;
}

.contingencyChart-circle-observed.selected {
    stroke-width: 2px;
    stroke: #cc6400;
    fill: #e0a266;
}

.contingencyChart-circle-expected {
    stroke-width: 1px;
    stroke: red;
    stroke-dasharray: "5, 5";
    fill: none;
}

.contingencyChart-circle-label {
    font-size: 0.8em;
    fill: #2e4a85;
}

.contingencyChart-miniHistogram {
    fill: #eff4ff;
    stroke: black;
    stroke-width: 1px;
}

.contingencyChart-miniHistogram.selected {
    fill: #ffbb84;
    stroke: black;
    stroke-width: 1px;
}

.contingencyChart-miniHistogram-mean {
    fill: blue;
    stroke: none;
}

.contingencyChart-miniHistogram-stdDev {
    fill: #b0d4d4; 
    stroke: black;
    stroke-width: 1px;
}

.contingencyChart .axis path {
    display: none;
}

.contingencyChart .axis line {
    shape-rendering: crispEdges;
    stroke: gray;
}

.table.x-axis-label.middle, .table.y-axis-label.middle {
    font-size: 1.1em;
}

.table.x-axis-label.upper-corner, .table.y-axis-label.upper-corner {
    font-size: 1.1em;
}

/* scatter plot */

.scatterPlot-story {
    stroke: #2e4a85;
    stroke-width: 0.2px;
    fill: #2e4a85;
    fill-opacity: 0.7;
}
  
.scatterPlot-story.selected {
    stroke: #cc6400;
    fill: #cc6400;
}
  
.scatterplot.x-axis-label.middle, .scatterplot.y-axis-label.middle {
    font-size: 1.1em;
}

.scatterplot.x-axis-label.small.middle, .scatterplot.y-axis-label.small.middle {
    font-size: 0.9em;
}

.scatterplot.x-axis-label.start, .scatterplot.y-axis-label.start, .scatterplot.x-axis-label.end, .scatterplot.y-axis-label.end {
    font-size: 0.9em;
}

/* correlation map */


.narrafirma-correlation-map-frame {
    stroke: lightgray;
    fill: none;
    stroke-width: 1px;
}

.narrafirma-correlation-map-node-count {
    fill: #ffe1aa;
    stroke: #f88a57;
    stroke-width: 2px;
}

.narrafirma-correlation-map-node-count-selected {
    fill: #f88a57;
}

.narrafirma-correlation-map-node-max {
    fill: white;
    stroke: #f88a57;
    stroke-width: 1.5px;
}

.narrafirma-correlation-map-node-max-selected {
    fill: #f88a57;
}

.narrafirma-correlation-map-node-label {
    font-size: 1em;
}

.narrafirma-correlation-map-node-scale-ends-label {
    font-size: 0.8em;
}

.narrafirma-correlation-map-link {
    stroke: #d7dce4; 
}

.narrafirma-correlation-map-link-selected {
    stroke: #f88a57; 
}

.narrafirma-correlation-map-option-title {
    margin: 0.5em 0 1.5em 0.5em;
    font-size: 1em;
    font-variant-caps: small-caps;
    font-weight: bold;
}

.narrafirma-correlation-map-stats-table {
    font-weight: normal;
    border-collapse: collapse;
    margin: auto;
}

.narrafirma-correlation-map-stats-table td {
    border: 1px solid lightgray;
    padding: 0.25em;
    text-align: right;
}

.narrafirma-correlation-map-popup-graph-div {
    position: absolute;
    font-size: 0.9em;
    background-color: white;
    opacity: 0.9;
    border: 2px solid lightgray;
    box-shadow: 2px 2px lightgray;
}

.narrafirma-correlation-map-popup-graph-pane {
    background-color: white;
}

.narrafirma-correlation-map-thumbnail {
    display: block;
    background-color: white;
    margin: auto;
}

.narrafirma-correlation-map-thumbnail-histogram-bar {
    fill: none;
}

.narrafirma-correlation-map-thumbnail-histogram-story.even {
    fill: #2e4a85;
}

.narrafirma-correlation-map-thumbnail-histogram-story.odd {
    fill: #7b8cb2;
}

.narrafirma-correlation-map-thumbnail-scatterPlot-story {
    stroke: #2e4a85;
    stroke-width: 0.2px;
    fill: #2e4a85;
    fill-opacity: 0.7;   
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Dialogs ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* derived from http://www.cssscript.com/minimal-modal-window-with-plain-javascript/ */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 10000;
}

.modal-content {
    position: relative;
    overflow: auto;
    z-index: 10001;
    margin: 5% auto 0;
    padding: 1em 2em;
    width: 90%;
    max-width: 700px;
    min-height: 100px;
    max-height: 600px;
    background-color: #b0d4d4; 
    border: 1px groove black;
    border-radius: 16px;
}

.modal-content.wide {
  max-width: 95%;
}

.modal-internal {
    margin: 10px;
    padding: 10px;
    overflow: auto;
    max-height: 400px;
    background-color: white; 
    border: 1px solid black;
}

.narrafirma-dialog-ok-button {
    display: block;
    margin: auto;
    padding: 0.4em;
    box-shadow: none;
}

.narrafirma-dialog-cancel-button {
    display: block;
    margin: auto;
    padding: 0.4em;
    box-shadow: none;
}

textarea.textEditorInDialog {
    min-height: 350px;
    resize: none;
    margin: none;
    border: none;
    width: 100%;
    height: 100%; 
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari  */
}
