
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ general tags ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* NOTE: the mnemonic for margin or padding order is TRIBBLE: Top Right Bottom Left */

html, body {
	font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    font-size: 1em;
    overflow-y: scroll;
}

fieldset {
	border: none;
	margin-bottom: -0.6em;
}

hr {
	display: none;
	height: 6px;
	color: #8db500;
	background-color: #8db500;
}

legend {
	margin-left: -2em;
}

textarea, input, select {
    margin-top: 0.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

textarea:-moz-read-only, input:-moz-read-only { /* For Firefox */
    border: 1px solid #979696;
    background-color: white;
    color: #979696;
}

textarea:read-only, input:read-only {
    border: 1px solid #979696;
    color: #979696;
}

#surveyDiv {
   padding: 10px;
}

.narrafirma-survey-question-external.narrafirma-survey-question-type-header.narrafirma-preview {
	background-color: #669ef3;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ story areas ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.narrafirma-survey-story {
	margin: 0px 0px 30px 0px;
}

.narrafirma-survey-story-odd .narrafirma-survey-question-external {
	background: #cceeee;
}

.narrafirma-survey-prompt {
    margin: 4px 10px 4px 10px;
}

.narrafirma-survey-question-external {
    border-radius: 3px;
    background: #c5d2eb;
    margin-bottom: 6px;
    margin-top: 6px;
    padding: 8px;
}

.narrafirma-survey-question-internal {
	margin: 0 20px;
}

.narrafirma-survey-question-type-header {
    font-weight: bold;
    background: white;
    margin-top: 10px;
}

.narrafirma-survey-question-type-label {
    background: white;
}

.narrafirma-survey-image {
    display: block;
    margin: auto;
    padding: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ input areas ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.narrafirma-survey-question-type-textarea textarea {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-height: 10em;
}

.narrafirma-survey-question-type-text input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.narrafirma-survey-question-type-slider table {
    min-width: 100%;
}

.narrafirma-survey-question-type-slider .narrafirma-survey-question-internal {
    text-align: center;
    margin-top: 1em;
}

.narrafirma-survey-question-type-slider .narrafirma-survey-low {
    text-align: right;
    font-size: 0.8em;
    white-space: nowrap;
}

.narrafirma-survey-question-type-slider .narrafirma-survey-slider {
    /* text-align: center; */
}

.narrafirma-survey-question-type-slider .narrafirma-survey-high {
    text-align: left;
    font-size: 0.8em;
    white-space: nowrap;
}

.narrafirma-survey-question-type-slider .narrafirma-survey-value {
    margin-left: 0.5em;
    font-size: 0.9em;
}

/* 
   Next two rules are for the input range (slider) to be visible in Android.
   Derived from: http://tiffanybbrown.com/2012/02/07/input-typerange-and-androids-stock-browser/
*/

input[type='range']{
    min-width: 50%;
    height: 0.2em;
    border: none;
}

input[type='range']::-webkit-slider-thumb{
    background: #9CF;
    height: 0.5em;
    width: 0.5em;
    border-radius: 0.5em;
}

.narrafirma-survey-value {
	text-align: left;
	font-size: 75%;
	margin-top: 8px;
}

.narrafirma-survey-does-not-apply {
	margin-top: 12px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ tell another story ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.narrafirma-survey-tell-another-story-button-panel {
    border-radius: 3px;
	background: #ffe1aa;
	padding: 1em;
	margin-bottom: 20px;
}

.narrafirma-survey-tell-another-story-button {
    border: none;
	font-size: 1em;
    border-radius: 3px;
    background: #ffbb84;
    box-shadow: 2px 2px 2px black;
    margin-left: 20px;
    padding: 6px;
}

.narrafirma-survey-tell-another-story-button:hover {
    background: #fd9647;
}
	
.narrafirma-survey-tell-another-story-button:active {
    background: #fd9647;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ delete story ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.narrafirma-survey-delete-story-button {
    border: none;
	font-size: 0.8em;
    display: block;
    background: #d7dce4;
    box-shadow: 2px 2px 2px black;
    margin: 10px 10px 0px auto;
    float: right;
    padding: 0.4em;
}

.narrafirma-survey-delete-story-button:hover {
	background: #f88a57;
}
	
.narrafirma-survey-delete-story-button:active {
	background: #f88a57;
}

.narrafirma-survey-story-odd .narrafirma-survey-delete-story-button {
    background: #d7dce4;
}

.narrafirma-survey-story-odd .narrafirma-survey-delete-story-button:hover {
	background: #ffbb84;
}
	
.narrafirma-survey-story-odd .narrafirma-survey-delete-story-button:active {
	background: #ffbb84;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ submit survey ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.narrafirma-survey-submit-survey-button {
    display: block;
    border: none;
    width: 300px;
    font-size: 1.5em;
    background: #1e489c;
    box-shadow: 2px 2px 2px black;
    color: white;
    margin: 10px auto 0px auto;
	padding: 10px 20px;
}

.narrafirma-survey-submit-survey-button:hover {
	background: #1751c5;
}

.narrafirma-survey-submit-survey-button:active {
	background: #1751c5; 
}

textarea.narrafirma-survey-result-summary {
    width: 100%;
    height: 300px;
}

.narrafirma-survey-result-summary-header {
    margin: 0.6em 0 0.3em 0;
    font-size: 1.3em;
    font-weight: bold;
}

.pleaseWaitOverlay {
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	width: 300px;
	height: 70px;
	margin: 30px auto 0px auto;
	padding: 30px;
    border: 4px solid #b0d4d4;
    background-color: #f3fdfd;
    border-radius: 12px;
    background-image: url('../images/dojo-Standby-loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 80%;
    z-index: 1001;
}


.narrafirma-could-not-save-survey {
    background: #ffbb84;
    border-radius: 12px;
    padding: 1em;
}

.narrafirma-sending-survey {
    background: #ffe1aa;
    border-radius: 12px;
    padding: 1em;
}

.narrafirma-survey-accepted {
    background: #b0d4d4;
    border-radius: 12px;
    padding: 1em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ for printing survey ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.narrafirma-survey-print-title {
	font-size: 1.5em;
	margin: 0.5em 0 0.5em 12px;
}

.narrafirma-survey-print-intro {
	margin: 1.5em 0 0.5em 12px;
	font-weight: bold;
}

.narrafirma-survey-print-about-you-text {
    margin: 1.5em 0 0.5em 12px;
    font-weight: bold;
}

.narrafirma-survey-print-end-text {
	margin: 2em 0 2em 12px;
    font-style: italic;
    font-weight: bold;
}
.narrafirma-survey-print-please-select {
	margin: 1.5em 0 0.5em 12px;
    font-weight: bold;
    font-style: italic;
}

.narrafirma-survey-print-enter-response {
	margin: 1.5em 12px 1.5em 12px;
	padding: 0.5em 0.5em 8em 0.5em;
	border: 1px solid black;
	font-style: italic;
}

.narrafirma-survey-print-name-story {
    margin: 1.5em 0 0.5em 12px;
}

.narrafirma-survey-print-question-text {
	margin: 1.5em 0 0.5em 12px;
}

.narrafirma-survey-print-instruction {
	font-size: 0.75em;
}

.narrafirma-survey-print-radiobutton {
	margin: 0 0 0.5em 24px;
}

.narrafirma-survey-print-checkbox {
	margin: 0 0 0.5em 24px;
}

.narrafirma-survey-print-slider {
	margin: 0 0 0.5em 24px;
}

.narrafirma-survey-print-blank-text-line {
	margin: 1.5em 0 0.5em 24px;
}

.narrafirma-survey-print-textarea {
	margin: 0.5em 24px 0.5em 24px;
	padding: 4em;
	border: 1px solid black;
}













