/* COLOR PALETTE TEST - first try at changes */

/* these are just for the palette files */

.spacing {
    margin-top: 1em;
    margin-bottom: 1em;
}

.dividingspace {
    margin: 5em;
}

/* palette */

th.header {
	background-color: #86bce9; 
	height: 5em;
	width: 200px;
}

th.working {
	background-color: #d4e6f5;
	width: 200px;
}

th.viewing {
	background-color: #fff;
	width: 200px;
}

th.selection {
	background-color: #faf2d7;
	width: 200px;
}

th.action {
	background-color: #f0c310;
	width: 200px;
}

/* these are all named as in the app css */

/* things that apply to elements, not classes */

html, body {
	font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

a:link {
	color: #0b4b79;
}

a:visited {
	color: #275677; 
}

a:hover {
	color: #1178c2;
}

a:active {
	color: #0091f8;
}

button {
    background-color: #f0c310;
    /* background-image: linear-gradient(#FFF 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%); */
    margin: 4px;
    padding: 0.3em;
    white-space: nowrap;
    cursor: pointer;
	font-size: 1.2em;
	border-radius: 12px;
	border: 2px solid #86bce9;
}

button:hover {
    background-color: #86bce9; 
	border: 2px solid #f0c310;
}

textarea:-moz-read-only, input:-moz-read-only { /* For Firefox */
	border: 1px solid #a6a6a6;
}

textarea:read-only, input:read-only {
	border: 1px solid #a6a6a6;
}

/* main classes */

.navigationDiv {
    padding: 1em;
	background-color: #86bce9;
	border-bottom: 3px solid #f0c310;
}

.questionExternal {
	background-color: #d4e6f5;
	border-radius: 6px;
	margin-bottom: 4px;
    padding: 1em;
    margin: 4px;
}

.questionExternal.readonly {
	background-color: white;
	color: #a6a6a6;
	margin-bottom: 4px;
    border-radius: 6px;
    padding: 4px 8px 4px 8px;
    margin: 4px;
}

.questionExternal.narrafirma-question-type-header {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	background-color: #86bce9;  
	margin-bottom: 12px;
	margin-top: 10px;
}

.narrafirma-textbox {
    width: 100%;
    border: 1px solid black;
}

.narrafirma-reminder {
	background-color: #faf2d7;
	border-radius: 6px;
	margin-bottom: 4px;
    padding: 1em;
    margin: 4px;
}

/* table of items */

.grid-header-cell {
    background-color: #86bce9;
    padding: 1em;
    border: 1px solid black;
}

.narrafirma-grid-cell {
    padding: 1em;
	background-color: white;
	border: 1px solid black;
}

.narrafirma-grid-cell-selected {
    padding: 1em;
	background-color: #ffeba2;
	border: 1px solid black;
}

/* panel viewing or editing selected item in table */

.narrafirma-griditempanel-editing {
	background-color: #eef3f7;
	margin: 1em;
	border: 2px solid #47637a;
	border-radius: 6px;
	padding: 8px;
}

.narrafirma-griditempanel-editing .questionExternal {
	background-color: #d4e6f5;
}

.narrafirma-griditempanel-editing .questionExternal.narrafirma-question-type-header { 
	background-color: #86bce9;
}

.narrafirma-griditempanel-viewing {
	color: #a6a6a6; 
	margin: 1em;
	border: 1px solid #a6a6a6;
	border-radius: 6px;
	padding: 8px;
}

.narrafirma-griditempanel-viewing .questionExternal {
	background-color: white;
	color: #a6a6a6;
	margin: 0px;
}

.narrafirma-griditempanel-viewing .questionExternal.narrafirma-question-type-header {
	color: #a6a6a6; 
	background-color: white;
}

/* catalysis report */

.narrafirma-catalysis-report-title {
	font-size: 2.5em;
	font-weight: 700;
    padding: 0.5em;
    background: #86bce9;
}

.narrafirma-catalysis-report-project-name-and-date {
    padding: 0.5em;
    font-size: 0.8em;
    background-color: #d4e6f5;
}

.narrafirma-catalysis-report-perspective {
	font-size: 2em;
	font-weight: 700;
    padding: 0.5em;
    background: #86bce9;
}

.narrafirma-catalysis-report-perspective-notes {
    padding: 0.5em;
    background: #d4e6f5;
    margin-bottom: 0.5em;
}

.narrafirma-catalysis-report-interpretation {
    padding: 0.5em;
	font-size: 1.5em;
	font-weight: 700;
    background: #eac199;
}

.narrafirma-catalysis-report-interpretation-notes {
	padding: 0.5em;
    margin-bottom: 0.5em;
    background: #f4e0cc;
}

.narrafirma-catalysis-report-observation {
	font-size: 1.em;
    font-weight: 700;
    padding: 0.5em;
    background: #abb6ce;
}

.narrafirma-catalysis-report-observation-description {
    padding: 0.5em;
    margin-bottom: 0.5em;
    background: #d5dae6;
}

/* help system */

a.help:link {
	color: #895717;
}

a.help:visited {
	color: #3e3739;
}

a.help:hover {
	color: #b5731e;
}

a.help:active {
	color: #b5731e;
}


.help-header {
	background: #f4e0cc;
	margin: 0px;
	padding: 20px; 
	border-bottom: 4px solid #cc6400;
}

.help-heading {
	font-size: 1.2em;
	font-weight: 700;
	padding: 8px 10px 6px 10px;
}
.help-text {
	background: #f4e0cc;
	padding: 4px 10px 4px 10px;
	margin: 0px 10px 0px 10px;
    }
    
.help-question {
	background: #eac199;
	font-style: italic;
	padding: 9px 10px 8px 10px;
	margin: 0px 10px 0px 10px;
    
    }
    
.help-answer {
	background: #f4e0cc;
	padding: 4px 10px 4px 10px;
	margin: 0px 10px 0px 10px;
    
    }
    
.help-book-quote {
	margin: 20px;
	padding: 20px;
	background: #e4e4e4;
	border: 1px solid #3e3739;
   
    }
    