/* these are just for the palette files */

.spacing {
    margin-top: 1em;
    margin-bottom: 1em;
}

.dividingspace {
    margin: 5em;
}

/* palette */

th.header {
	background-color: #a3d8d8; 
	height: 5em;
	width: 200px;
}

th.working {
	background-color: #bcc7dd;
	width: 200px;
}

th.viewing {
	background-color: #fff;
	width: 200px;
}

th.selection {
	background-color: #ffe1aa;
	width: 200px;
}

th.action {
	background-color: #ffbb84;
	width: 200px;
}

/* these are all named as in the app css */

/* things that apply to elements, not classes */

html, body {
	font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

a:link {
	color: #017a7a;
}

a:visited {
	color: #017a7a;
}

a:hover {
	color: #017a7a;
}

a:active {
	color: #017a7a;
}

button {
    background-color: #ffbb84;
    margin: 2px 4px 2px 4px;
    padding: 2px 4px 2px 4px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1.1em;
}

textarea:-moz-read-only, input:-moz-read-only { /* For Firefox */
	border: 1px solid #a6a6a6;
}

textarea:read-only, input:read-only {
	border: 1px solid #a6a6a6;
}

/* main classes */

.navigationDiv {
    padding: 1em;
	background-color: #a3d8d8;
	border-bottom: 4px solid #ffbb84;
}

.questionExternal {
	background-color: #bcc7dd;
	margin-bottom: 4px;
    padding: 1em;
	margin: 4px;
	border-radius: 8px;
}

.questionExternal.readonly {
	color: #a6a6a6;
	background-color: white;
	margin-bottom: 4px;
    padding: 1em;
	margin: 4px;
}

.questionExternal.narrafirma-question-type-header {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	background-color: #a3d8d8;  
	margin-bottom: 12px;
	margin-top: 10px;
	border-radius: 8px;
}

.narrafirma-textbox {
    width: 100%;
    border: 1px solid black;
}

.narrafirma-reminder {
	background-color: #ffe1aa;
	margin-bottom: 4px;
    padding: 1em;
	margin: 4px;
	border-radius: 8px;
}

/* table of items */

.grid-header-cell {
    background-color: #a3d8d8;
    padding: 1em;
    border: 1px solid black;
}

.narrafirma-grid-cell {
    padding: 1em;
	background-color: #bcc7dd;
	border: 1px solid black;
}

.narrafirma-grid-cell-selected {
    padding: 1em;
	background-color: #ffe1aa;
	border: 1px solid black;
}

/* panel viewing or editing selected item in table */

.narrafirma-griditempanel-editing {
	background-color: white;
	border: 4px solid #ffe1aa;
	margin: 1em;
	border-radius: 8px;
	padding: 8px;
}

.narrafirma-griditempanel-editing .questionExternal {
	background-color: #bcc7dd;
}

.narrafirma-griditempanel-editing .questionExternal.narrafirma-question-type-header { 
	background-color: #a3d8d8;
}

.narrafirma-griditempanel-viewing {
	background-color: white; 
	color: #a6a6a6;
	border-radius: 8px;
	margin: 1em;
	border: 1px solid #a6a6a6;
	padding: 8px;
}

.narrafirma-griditempanel-viewing .questionExternal {
	background-color: #eeeeee;
	color: #a6a6a6;
}

.narrafirma-griditempanel-viewing .questionExternal.narrafirma-question-type-header {
	color: #a6a6a6;
}

/* catalysis report */

.narrafirma-catalysis-report-title {
	font-size: 2.5em;
	font-weight: 700;
    padding: 0.5em;
    background: #a3d8d8;
}

.narrafirma-catalysis-report-project-name-and-date {
    padding: 0.5em;
    font-size: 0.8em;
    background: #a1ecec;
}

.narrafirma-catalysis-report-perspective {
	font-size: 2em;
	font-weight: 700;
    padding: 0.5em;
    background: #a3d8d8;
}

.narrafirma-catalysis-report-perspective-notes {
    padding: 0.5em;
    background: #a1ecec;
    margin-bottom: 0.5em;
}

.narrafirma-catalysis-report-interpretation {
    padding: 0.5em;
	font-size: 1.5em;
	font-weight: 700;
    background: #ffe1aa;
}

.narrafirma-catalysis-report-interpretation-notes {
	padding: 0.5em;
    margin-bottom: 0.5em;
    background: #ffeccb;
}

.narrafirma-catalysis-report-observation {
	font-size: 1.em;
    font-weight: 700;
    padding: 0.5em;
    background: #bcc7dd;
}

.narrafirma-catalysis-report-observation-description {
    padding: 0.5em;
    margin-bottom: 0.5em;
    background: #d9e1f1;
}

/* help system */

a.help:link {
	color: #017a7a;
}

a.help:visited {
	color: #017a7a;
}

a.help:hover {
	color: #017a7a;
}

a.help:active {
	color: #017a7a;
}


.help-header {
	background: #5cd3d3;
	margin: 0px;
	padding: 20px; 
	border-bottom: 4px solid #ffbb84;
}

.help-heading {
	font-size: 1.2em;
	font-weight: 700;
	padding: 8px 10px 6px 10px;
}
.help-text {
	background: #94acdf;
	padding: 4px 10px 4px 10px;
	margin: 0px 10px 0px 10px;
    }
    
.help-question {
	background: #5cd3d3;
	font-style: italic;
	padding: 9px 10px 8px 10px;
	margin: 0px 10px 0px 10px;
    
    }
    
.help-answer {
	background: #94acdf;
	padding: 4px 10px 4px 10px;
	margin: 0px 10px 0px 10px;
    
    }
    
.help-book-quote {
	margin: 20px;
	padding: 20px;
	background: #ffe1aa;
	border: 1px solid #ffbb84;
   
    }
    