body { 
	text-align: left; 
	background: white; 
	margin: 0;
}

.header { 
	background: #d3d2d2;
	margin: 0px;
	padding: 20px; 
	border-bottom: 4px solid #a7a5a5;
}
	
a:link {
	color: #658200;
}

a:visited {
	color: #3b5fab;
}

a:hover {
	color: #2e4a85;
}

a:active {
	color: #3b5fab;
}

.narrafirma-name {
	font-size: 1em;
	color: #231f20;
	font-weight: 700;
	padding: 0 2em 0 0;
}

.breadcrumb {
	font-size: 0.8em;
}

.page {
	margin: 10px;
}

.heading {
	font-size: 1.3em;
	font-weight: 700;
	padding: 16px 6px 16px 0px;
}

.text {
	font-size: 1.1em;
	background: #e4e4e4;
	padding: 8px;
}

.question {
	background: #d3d2d2;
	font-size: 1.1em;
	font-style: italic;
	padding: 9px 8px 8px 8px;
	border-bottom: 1px solid #a7a5a5;
}

.question-answer {
	background: #e4e4e4;
	font-size: 1.1em;
	padding: 8px;
}

.narrafirma-pni-phases-image {
	float: right;
}

/* ------- old ---------- */

.section {
	font-style: italic;
}
#helpPageName {
	font-weight: bold;
	font: 180% verdana,tahoma;
}

.narrafirma-helpindex-backlink {
	font: 60% verdana,tahoma;
	margin-left: 4px;
	margin-top: 10px;
}

.book-quote {
	margin: 20px;
	padding: 20px;
	background: #f4e0cc;
	border: 1px solid #cc6400;
}

.book-quote-heading {
	font-weight: 700;
}

.seeBookPages {
	font: 80% verdana,tahoma;
}

.field {
	font-style: normal;
}

.narrafirma-helpindex-sectionheader {
	padding: 10px;
	display: block;
	border: 3px solid black;
}

a.narrafirma-helppageindex-panellink:link {
	margin-left: 20px;
}

