html {
    height: 100%;
}

body {
    min-height: 100%;
    font-size: 100%;
    margin: 0em;
    padding: 0em;
    padding-left: 1em;
}

/* See http://www.sitepen.com/blog/2012/05/03/css-styling-of-dgrid/ */
/* Make sure grid rows are just one line high and the text is limited with an ellipsis */

.dgrid-row {
    /*height: 22px;*/
    height: 1.5em;
}

.dgrid-cell {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dijitMultiSelect {
	font-size: 100%;
}

.narracoachQuestion {
}

.claro .dijitContentPane {
	padding-left: 2em;
}

.dijitDownArrowButton {
	width: 1em;
	margin-right: 0.5em;
}

#navigationDiv {
	background-color: #E0EEEE;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0em; 
	padding-right: 0em; 
    border-bottom: 2px solid #ccc;
}

.wwsButtonImage {
	background-image: url(../images/WWS_BookCover_front_tiny.png);
    background-repeat: no-repeat;
    /* background-position: 10px 2px; */
    background-repeat: no-repeat;
	width: 43px;
	height: 60px;
	text-align: center;
}

