html {
    height: 100%;
}

body {
    min-height: 100%;
    font-size: 120%;
}

/* See http://www.sitepen.com/blog/2012/05/03/css-styling-of-dgrid/ */
/* Make sure grid rows are just one line high and the text is limited with an ellipsis */

.dgrid-row {
    /*height: 22px;*/
    height: 1.5em;
}

.dgrid-cell {
    text-overflow: ellipsis;
    white-space: nowrap;
}
