
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ All pages ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* NOTE: the mnemonic for margin or padding order is TROUBLE: Top Right Bottom Left */

/* html, body, pleaseWaitOverlay - are in survey.css */

#pageDiv {
   padding-left: 10px; 
}

a:link {
	color: #658200;
}

a:visited {
	color: #3b5fab;
}

a:hover {
	color: #2e4a85;
}

a:active {
	color: #3b5fab;
}

textarea, input, select { /* override because expanded in survey */
	margin-top: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Navigation bar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#navigationDiv {
	background-color: #b2c07f;
	padding: 0.25em 0em 0.2em 0em;
    border-bottom: 4px solid #8db500;
}

#narrafirma-name {
    margin-left: 0.5em; 
    margin-right: 0.5em; 
    padding: 8px;
}

.narrafirma-serverstatus-ok {
	color: #231f20;
	font-weight: 700;
	text-shadow: 2px 2px #d3d2d2;
	border: 2px solid #b2c07f; /* so the name doesn't shift when the red border appears */
}

.narrafirma-serverstatus-waiting {
	color: 231f20;
	font-weight: 700;
	text-shadow: 2px 2px yellow;
	border: 2px solid #b2c07f; /* so the name doesn't shift when the red border appears */
}

.narrafirma-serverstatus-waiting-last-error {
	color: 231f20;
	border: 2px solid red;
	font-weight: 700;
	text-shadow: 2px 2px yellow;
}

.narrafirma-serverstatus-failure {
	color: 231f20;
	border: 2px solid red;
	font-weight: 700;
	text-shadow: 2px 2px red;
}

.narrafirma-serverstatus-unknown {
	color: black;
}

.wwsButtonImage {
	background-image: url(../images/WWS_BookCover_front_tiny.png);
    background-repeat: no-repeat;
	width: 43px;
	height: 60px;
	text-align: center;
}

.homeButtonImage {
	/* display: block; */
    background-image: url(../images/ionicicons/home.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.leftButtonImage {
    /* display: block; */
    background-image: url(../images/ionicicons/arrow-left-a.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 20px;
    height: 20px;
    /* text-align: left; */
}

.rightButtonImage {
    /* display: block; */
    background-image: url(../images/ionicicons/arrow-right-a.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 20px;
    height: 20px;
    /* text-align: right; */
    /* Next line may not work correctly in IE6 & IE7? Also does not work right in safari 5.1 with button a bit high. https://bugs.dojotoolkit.org/ticket/5170 */
    float: right;
}

#narrafirma-help-link {
    padding: 16px;
    font-size: 0.9em;
}

#narrafirma-logout-link {
    float: right;
    font-size: 0.9em;
}

#narafirma-breadcrumbs {
    font-size: 0.9em;
}

#narrafirma-breadcrumb-current {

}

.narrafirma-page-name {
    font-weight: bold;
    font-size: 1.4em;
}
 
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Dashboard ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.narrafirma-pni-phases-image {
    float: left;
	margin: 4px 30px 10px 0px;
	padding-right: 30px;
    border-right: 2px solid #8db500;
}

.narrafirma-dashboardStatusButton .dijitButtonNode {
    font-weight: 200;
    font-size: 1em;
    min-width: 8em;
}

.narrafirma-dashboardSectionStatusDisplayCompletion {
    margin-left: 1.0em;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Pages with entry fields ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.questionExternal {
	background: #d5dae6;
	margin-bottom: 4px;
    border-radius: 12px;
}

.questionPrompt {
	margin-left: 10px;
}

.questionInternal {
    margin-left: 20px;
}

.narrafirma-textbox {
	width: 80em;
}

.narrafirma-questionAnswer { /* this is now used to display the reminder on the phase dashboard page */
    float: right;
    width: 90%;
    margin: 0.3em 0em 0.3em 0em;
    padding: 0.5em;
    background: #e0e6cc;
    border: 1px solid #b2c07f;
}

.narrafirma-questionAnswer:empty { /* if no reminder entered, do not show */
	padding: 0px;
	margin: 0px;
	border: none;
	background: #fff;
}

form {
   padding-left: 0.7em;
}

.dijitButton {
	margin-bottom: 10px;
}

.narrafirma-reminder {
	background: #b2c07f;
	border-radius: 12px;
}

.narrafirma-griditem-form {
	width: 800px;
	height: 800px;
	overflow: auto;
}

.narrafirma-griditempanel-hidden {
    display: none;
}

.narrafirma-griditempanel-editing {
	background: #FFF;
	margin: 1em;
	border: 1px solid #2e4a85;
	border-radius: 12px;
}

.narrafirma-griditempanel-editing .questionExternal {
	background: #abb6ce;
}

.narrafirma-griditempanel-viewing {
	background: #e4e4e4;
	margin: 1em;
	border: 1px solid #231f20;
	border-radius: 12px;
}

.narrafirma-griditempanel-viewing .questionExternal {
	background: #e4e4e4;
	margin: 0px;
}

/* hides "copy from template" button when viewing grid item */
.narrafirma-griditempanel-viewing .narrafirma-template-button {
	display: none;
}

.dijitTextArea {
	font-family: Arial, Helvetica, sans-serif;
}

.claro .dijitTextBoxReadOnly {
	background: #e4e4e4;
}

.narrafirma-special-warning {
	display: block;
	background: #eac199;
	border: 2px solid #cc6400;
	padding: 10px;
	margin-left: 5em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Story card display ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.narrafirma-story-card-story-title {
    font-size: 2em;
    font-weight: bold;
}

.narrafirma-story-card-story-text {
}

.narrafirma-story-card-eliciting-question {
    font-size: 75%;
}

.narrafirma-story-card-select-selected, .narrafirma-story-card-checkboxes-selected {
    font-size: 150%;
    font-weight: bold; 
}

.narrafirma-story-card-select-unselected, .narrafirma-story-card-checkboxes-unselected {
    font-size: 75%;
}

.narrafirma-story-card-slider-name {
    /* text-align: right; */
    font-weight: bold;
}

.narrafirma-story-card-slider-label-left {
    font-size: 75%;
    text-align: right;
}

.narrafirma-story-card-slider-label-right {
    font-size: 75%;
    text-align: left;
}

.narrafirma-story-card-slider-contents {
    padding: 1em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Dijit things ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* See http://www.sitepen.com/blog/2012/05/03/css-styling-of-dgrid/ */
/* Make sure grid rows are just one line high and the text is limited with an ellipsis */

.dgrid-row {
    /*height: 22px;*/
    height: 1.5em;
}

.dgrid-cell {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dijitMultiSelect {
	font-size: 100%;
}

.question {
}

.claro .dijitContentPane {
	padding-left: 0em;
}

.dijitDownArrowButton {
	width: 1em;
}

/* Suggestion from: https://bugs.dojotoolkit.org/ticket/17044 and: http://jsfiddle.net/ondrek/3FjLJ/9/ */
.dijitTextBox .dijitInputInner { 
    white-space: nowrap; 
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis; 
    overflow: hidden;
}

/* So the dgrids show all data up to 400px and then scroll;
   seems issue if try to get show all data where doesn't refresh as scroll window*/
.dgrid {
    height: auto;
    min-height: 3em;
}

.dgrid .dgrid-scroller {
    position: relative;
    max-height: 400px;
    overflow: auto;
}

/* not yet used */
#templateList .dgrid-scroller {
    position: relative;
    max-height: 150px;
    overflow: auto;
}

.storyFilterTable-valueCell {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
}

.dijitComboBox {
	margin-right: 10px; /* so it's not smack up against a button to its right */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Adjustments for particular pages ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* review incoming stories: too much space before the "filter by" lines */
/* dijit_layout_ContentPane_9 is the line that says "Collected stories" before the "filter by" part
.narrafirma-page_reviewIncomingStories #dijit_layout_ContentPane_9 {
	padding-bottom: 0;
}

.narrafirma-page_reviewIncomingStories .questionInternal {
	padding-top: 0;
}

/* review incoming stories: make the grid a little shorter because the page is so long */
.narrafirma-page_reviewTrends .dgrid .dgrid-scroller {
    max-height: 300px;
}

/* review trends: make the grids shorter because the page is so long */
.narrafirma-page_reviewTrends .dgrid .dgrid-scroller {
    max-height: 200px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Recommendations table ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.narrafirma-dialog-launching-button {
	margin-bottom: 10px;
}

.wwsRecommendationsTable-labelCell {
  /* background-color: lightgrey; */
  /* padding-left: 5px; */
  border-style: solid;
  border-width: thin;
}

.wwsRecommendationsTable-valueCell {
  /* padding-left: 20px; */
  /* background-color: lightblue; */
  border-style: solid;
  border-width: thin;
}

.recommendationHigh {
    background-color: LightGreen;
}

.recommendationMedium {
    /* dark yellow */
    background-color: #CCCC00;
}

.recommendationLow {
    background-color: DarkRed;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ d3 charting ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* A CSS stylesheet is like a GUI control system for twidling with widget options */

.narrafirma-graph-results-pane {
	width: 850px;
	margin: 5px auto 0px auto;
}

.chartBackground {
	width: 700px;
    stroke: black;
    fill: none;
}

.chartBodyBackground {
    stroke: black;
    fill: none;
}

.brush .extent {
  fill-opacity: 0.1;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.chart {
	background: white;
}

.scatterPlot .story {
  stroke: #3e3739;
  stroke-width: 0.2px;
  fill: #3e3739;
  fill-opacity: 0.7;
}

.scatterPlot .story.selected {
  stroke: #3b5fab;
  fill: #3b5fab;
}

.bar {
  fill: none;
}

.story.even {
  fill: #3e3739;
}

.story.odd {
  fill: #a7a5a5;
}

.story.even.selected {
  fill: #3b5fab;
}

.story.odd.selected {
  fill: #abb6ce;
}

.contingencyChart .storyCluster.observed {
  stroke-width: 2px;
  stroke: #2e4a85;
  fill: #d5dae6;
}

.contingencyChart .storyCluster.observed.selected {
  stroke-width: 2px;
  stroke: #2e4a85;
  fill: #3b5fab;
}

.contingencyChart .expected {
  stroke-width: 2px;
  stroke: #3e3739;
  fill: none;
}

.contingencyChart .axis path {
  display: none;
}

.contingencyChart .axis line {
  shape-rendering: crispEdges;
  stroke: gray;
}
